@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-image: url(img/banernicki.png);
    background-repeat: no-repeat;
    
    
}


#container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
    width: 80%;
    height: 12rem;
}
    
   
.container-form {
   background: linear-gradient(150deg, rgb(241, 134, 214), rgb(166, 203, 240));
   width: 600px;
   margin: 13.5rem 0 0 10rem;
   height: 600px;
   border-radius: 2rem;
   border-color: aliceblue;
   border: 3px;
   align-items: center;
   
}

.tituloForm {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: rgb(105, 7, 73);
}

.subtitulo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -30px;
    color: rgb(105, 7, 73);
}

span {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}

#inputForm {
    border-radius: 1rem;
    height: 25px;
    padding-left: 10px;
    margin-top: 1.5rem;
}

.botaoEnvi {
    border-radius: 1rem;
    height: 2.5rem;
    width: 8rem;
    margin-top: 2rem;
    color: black;
    background-color:  rgb(241, 134, 214);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.botaoEnvi:hover {
    background-color: blueviolet;
}